{% load static %}

<!DOCTYPE html>
<html>
<title>LibreKIDS</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block head-styles %}
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Baloo+Thambi">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block head-scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

<body class="w3-light-grey w3-content" style="max-width:1600px">

{% block body-header %}{% endblock %}

{% block body-content %}{% endblock %}
 
{% block body-footer %}   
  <div id="lk-body-footer" class="w3-dark-marine w3-padding-24 w3-center">
  	<div>LibreKIDS - version {{ version }}{% if is_dev %}+{% endif %}</div>
  	<div>
  		<a href="https://github.com/dpm76/Librekids" class="w3-hover-opacity">
  			<i class="fa fa-github fa-lg"></i>  		
  			<span>Get it on Github</span>
		</a>
	</div>
  </div>
{% endblock %}

</body>
</html>
