{% extends "base.html" %}

{% load static %}

{% block head-styles %}
	{{ block.super }}	
{% endblock %}
	
{% block head-scripts %}
	{{ block.super }}
{% endblock %}

{% block body-header %}
	{{ block.super }}
{% endblock %}

{% block body-content %}
	<header class="w3-dark-marine">
	
		<h1 class="w3-margin-left lk-text-logo" style="margin-top: 0;">LibreKIDS</h1>    
    
	    <div class="w3-container">		    
		    <div class="w3-topbar-medium w3-border-white w3-small">
			    &nbsp;
			</div>		    
	    </div>
    
	</header>

	<div class="w3-page-centered w3-center">
		{% if form.errors %}
			<p class="w3-text-red w3-small">Your username and password didn't match. Please try again.</p>
		{% endif %}
	
		{% if next and next != '/'  %}
		    {% if user.is_authenticated %}
			    <p class="w3-text-red w3-small">Your account doesn't have access to this page. To proceed,
			    please login with an account that has access.</p>
		    {% else %}
		    	<p class="w3-text-red w3-small">Please login to see this page.</p>
		    {% endif %}
		{% endif %}
	
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			<table>
			<tr>
			    <td>{{ form.username.label_tag }}</td>
			    <td>{{ form.username }}</td>
			</tr>
			<tr>
			    <td>{{ form.password.label_tag }}</td>
			    <td>{{ form.password }}</td>
			</tr>
			</table>
			
			<p class="w3-margin"><input type="submit" value="login" /></p>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	
		{# Assumes you setup the password_reset view in your URLconf #}
		{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
	</div>
	
{% endblock %}

{% block body-footer %}
	{{ block.super }}	
{% endblock %}
