/* *
 * Core stylesheet
 */

a.lk-user-notifier-icon
{
	text-decoration: none;
}

a.lk-user-notifier-icon:before
{
	font-family: FontAwesome;
	margin-right: 4px;
}

#lk-messages-notifier > a.lk-user-notifier-icon:before
{
    content: "\f0e0";
}

#lk-activity-stream-notifier > a.lk-user-notifier-icon:before
{
    content: "\f10c";
}

#lk-custom-notifier > a.lk-user-notifier-icon:before
{
    content: "\f128";
}

#lk-main-menu > div.lk-button > span > span.lk-main-menu-item-icon:before
{
	font-family: FontAwesome;
}

#lk-main-menu > div.lk-button#lk-main-menu-item-home > span > span.lk-main-menu-item-icon:before
{
	content: "\f015";
}

#lk-main-menu > div.lk-button#lk-main-menu-item-children > span > span.lk-main-menu-item-icon:before
{
	content: "\f2c2";
}

#lk-main-menu > div.lk-button#lk-main-menu-item-kindergarten > span > span.lk-main-menu-item-icon:before
{
	content: "\f19c";
}

#lk-main-menu > div.lk-button#lk-main-menu-item-portfolios > span > span.lk-main-menu-item-icon:before
{
	content: "\f07c";
}

#lk-main-menu > div.lk-button#lk-main-menu-item-messages > span > span.lk-main-menu-item-icon:before
{
	content: "\f0e0";
}

#lk-main-menu > div.lk-button#lk-main-menu-item-projects > span > span.lk-main-menu-item-icon:before
{
	content: "\f0ae";
}

#lk-main-menu > div.lk-button#lk-main-menu-item-equipment > span > span.lk-main-menu-item-icon:before
{
	content: "\f1b3";
}

.lk-main-menu-submenu
{
	display: none;
	position: absolute;	
}

.lk-main-menu-item-more
{
	width: 24px;
	height: 24px;
}

#lk-main-menu > .lk-menu-item
{
	position: relative;
	overflow: visible;
}

.lk-main-menu-submenu
{
	position: absolute;
	bottom: 0px;
	transform: translateY(100%);
	right: 0px;
	left: 0px;
	z-index: 4;	 
}

.lk-main-menu-subitem
{
	display: block;	
	text-align: left;	
}

.lk-main-menu-submenu > .lk-main-menu-subitem:not(:first-child)
{
	border-top: 1px solid;	
}

/* 
 #lk-main-header > div,
 #lk-user-panel > div
 {
 	display: inline-table;
 }
 
 #lk-user-panel 
 {
 	float: right;
 } 
 
 #lk-breadcrumbs
 {
 	font-size: small;
 }
 
 #lk-content > div
 {
 	display: inline-grid;
 }
 */