{% extends "base.html" %}

{% load static %}

{% block head-styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}" />
{% endblock %}
	
{% block head-scripts %}
	{{ block.super }}
	<script src="{% static 'core/js/main.js' %}"></script>
{% endblock %}

{% block body-header %}
	{{ block.super }}
{% endblock %}

{% block body-content %}

<!-- !PAGE CONTENT! -->
<div>
  <!-- Header -->
  <header class="w3-dark-marine">    
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()">
    	<i class="fa fa-bars"></i>
	</span>
    <div class="w3-container">    	
    	<div id="lk-user-menu" class="lk-menu w3-margin-right w3-display-topright">
    	
    		{% if user_menu %}
	    		<div id="lk-main-menu-item-{{ user_menu.name }}"
		    		class="w3-button w3-dark-marine w3-hover-marine w3-margin-bottom-small lk-menu-item lk-button" 
		    		data-name="{{ user_menu.name }}"						 
					data-target="{{ menu_item.target | default_if_none:"" }}">
					<span>						
						<i class="fa fa-user fa-fw w3-margin-right-small"></i>
						<span class="w3-hide-small">{{ user_menu.label }}</span>										
					</span>				
					
					<span class="lk-main-menu-item-more">
						<i class="fa fa-caret-square-o-down fa-lg"></i>
						<div id="lk-main-menu-item-{{ user_menu.name }}-submenu"
							class="lk-main-menu-submenu">
							{% for submenu_item in user_menu.menu %}
								<span 
									id="lk-main-menu-item-user-{{ submenu_item.name }}"
									class="lk-menu-item lk-main-menu-subitem w3-hover-marine w3-padding"
									data-name="{{ user_menu.name }}.{{ submenu_item.name }}">
									{{ submenu_item.label }}
								</span>					
							{% endfor %}
						</div>
					</span>
				
				</div>
			{% endif %}
	    </div>
        
	    <div class="w3-margin-top-small">
	    	<div id="lk-main-menu" class="lk-menu">
	    	{% for menu_item in main_menu %}
		    	<div id="lk-main-menu-item-{{ menu_item.name }}"
		    		class="w3-button w3-dark-marine
						 w3-hover-marine w3-margin-bottom-small
						 lk-menu-item lk-button" data-name="{{ menu_item.name }}"						 
						 data-target="{{ menu_item.target | default_if_none:"" }}">
					<span>
						<span class="lk-main-menu-item-icon w3-medium"></span>
						<span class="w3-hide-small">{{ menu_item.label }}</span>										
					</span>				
					{% if menu_item.menu %}
						<span class="lk-main-menu-item-more">
							<i class="fa fa-caret-square-o-down fa-lg"></i>
							<div id="lk-main-menu-item-{{ menu_item.name }}-submenu"
								class="lk-main-menu-submenu">
							{% for submenu_item in menu_item.menu %}
								<span 
									id="lk-main-menu-item-{{ menu_item.name }}-{{ submenu_item.name }}"
									class="lk-menu-item lk-main-menu-subitem w3-hover-marine w3-padding"
									data-name="{{ menu_item.name }}.{{ submenu_item.name }}">
									{{ submenu_item.label }}
								</span>					
							{% endfor %}
							</div>
						</span>
					{% endif %}
				</div>
			{% endfor %}			
		    </div>
		    
		    <div class="w3-topbar-medium w3-border-white w3-small">
			    {% if breadcrumbs %}		    	
					<div id="lk-breadcrumbs" class="w3-left">
						<span data-name="{{ breadcrumbs.0.label }}"><i class="fa fa-home"></i></span>		
						{% for breadcrum in breadcrumbs|slice:"1:" %}
							> <span>{{ breadcrum.label }}</span>
						{% endfor %}
					</div>
				{% endif %}
				
				{% if user_notifications %}
					<div id="lk-user-notifications" class="w3-bar-block w3-left w3-small w3-right">
						{% for notifier in user_notifications %}
							<span class="lk-user-notifier" id="lk-{{ notifier.name }}-notifier">
								<a href="#" class="lk-user-notifier-icon w3-padding-small">
									<span class="w3-hide-small">{{ notifier.label }}</span>
								</a>						 
								<span>({% if notifier.status_type == "integer" %}
								{{ notifier.status_value }}
								{% else %}
									{% if notifier.status_value == "true" %}
										*
									{% else %}
										-
									{% endif %}
								{% endif %})</span>
							</span>
							{% if notifier != user_notifications|last %}|{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>		    
	    </div>
    </div>
    
  </header>
  
  <!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-collapse w3-sand w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
	  <div class="w3-container">
	    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-amber" title="close menu">
	      <i class="fa fa-remove"></i>
	    </a>
	    <h4><b>{{ context_panel.label }}</b></h4>    
	  </div>
	  <div class="w3-bar-block">
	  	{% if context_panel %}
			{% for menu_item in context_panel.context_menu %}
				<a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-amber"><!-- w3-text-teal -->
					{{ menu_item.label }}
				</a>			
			{% endfor %}
		{% endif %}
	  </div>  
	</nav>
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" 
	onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  
  <div id="lk-main-panel" class="w3-main w3-container" style="margin-left:300px"> 
  	<!-- actual content goes here -->  	
  </div>
</div>
{% endblock %}

{% block body-footer %}
	{{ block.super }}
	
	<script>
		// Script to open and close sidebar
		function w3_open() {
		    document.getElementById("mySidebar").style.display = "block";
		    document.getElementById("myOverlay").style.display = "block";
		}
		 
		function w3_close() {
		    document.getElementById("mySidebar").style.display = "none";
		    document.getElementById("myOverlay").style.display = "none";
		}
	</script>
{% endblock %}
