{% extends "base.html" %}

{% load static %}

{% block head-styles %}
	{{ block.super }}
	<!-- link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}" / -->
{% endblock %}
	
{% block head-scripts %}
	{{ block.super }}
{% endblock %}

{% block body-header %}
	{{ block.super }}
{% endblock %}

{% block body-content %}
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>{{ context_panel.label }}</b></h4>    
  </div>
  <div class="w3-bar-block">
  	{% if context_panel %}
		{% for menu_item in context_panel.context_menu %}
			<a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><!-- w3-text-teal -->
				{{ menu_item.label }}
			</a>			
		{% endfor %}
	{% endif %}
  </div>  
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
  <!-- Header -->
  <header id="portfolio">    
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    	{% if user_notifications %}
			<div id="lk-user-notifications" class="w3-bar-block w3-right">
				{% for notifier in user_notifications %}
					<span class="lk-user-notifier" id="lk-{{ notifier.name }}-notifier">
						{{ notifier.label }} 
						({% if notifier.status_type == "integer" %}
						{{ notifier.status_value }}
						{% else %}
							{% if notifier.status_value == "true" %}
								*
							{% else %}
								-
							{% endif %}
						{% endif %})
					</span>
				{% endfor %}
			</div>
		{% endif %}
        
	    <div class="w3-section w3-bottombar w3-padding-16">
	    	{% for menu_item in main_menu %}
				<button class="w3-button w3-white w3-hide-small">{{ menu_item.label }}</button>
			{% endfor %}
			
			<div id="lk-user-menu" class="w3-bar-block w3-right">  	
				{% if user_data %}
					{# <img href="" alt="user image" /> #}
					<i class="fa fa-user fa-fw w3-margin-right"></i>
					<span>{{ user_data.label }}</span>
				{% endif %}
				<ul style="display: none">
					{% for menu_item in user_menu %}
						<li>{{ menu_item.label }}</li>
					{% endfor %}					
				</ul>
		    </div>
    	</div>
    </div>
    {% if breadcrumbs %}		
		<div id="lk-breadcrumbs">
			<span>{{ breadcrumbs.0.label }}</span>		
			{% for breadcrum in breadcrumbs|slice:"1:" %}
				> <span>{{ breadcrum.label }}</span>
			{% endfor %}
		</div>
	{% endif %}
  </header>
  
  <div style="min-height: 400px"> 
  	<!-- actual content goes here -->  	
  	<h1>Content</h1>  	
  </div>
{% endblock %}

{% block body-footer %}
	{{ block.super }}
{% endblock %}
